<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Join us</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Full name</label
            >
            <input
              type="email"
              class="form-control"
              id="name"
              placeholder="John Doe" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-white"
              >Email address</label
            >
            <input
              type="email"
              class="form-control text-white"
              id="email"
              placeholder="john.doe@example.com" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="*********" />
          </div>
          <button type="button" class="btn btn-primary">
            Sign up for free!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
